*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;

}
p{
    color:#555;
    .container{
        max-width: 1300px;
        margin: auto;
        padding-left: 10x;
        padding-right: 10x;
    }
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 10px 0;
    width: 400px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 10px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: 20px 100px;
    margin: 40px 0;
    border-radius: 50px;
    font-size: 30px;
    transition: background 0.5s;

}

.btn:hover{
    background: #563434;

}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex: 20%;
    min-width: 10px;
    margin-bottom: 10px;


}
.col-3 img{
    width: 70%;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 100px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 80%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    list-style: 60px;
    color: #555;
    padding-bottom: 20px;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.h4{
    color:#555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
/*------ offer ------*/
.offer{
    background: radial-gradient( #fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;

}
small{
    color:#555;
}
/*------ testimonial ---------*/
.testimonial{
    padding-top: 40px;
    background: radial-gradient( #fff,#ffd6d6);
}
.testimonial .col-3 {
    text-align: center;
    padding: 10px 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}
/*------- brands ------*/
.brands{
    margin: 50px auto;

}
.col-5{
    width: 200px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);

}
.col-5 img:hover{
    filter: grayscale(0);

}
/*----- footer ------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px ;
    padding: 60px 0 20px;
}
.footer-col-2 img{
    width: 70px;
}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}



